#Server Specifics
spring:
  application:
    name: balancer

error:
  whitelabel:
    enabled: false

server:
  port: 8080

logging:
  file: logs/${spring.application.name}.log
  max-size: 10m
  level:
    root: INFO
    org.springframework.web: INFO
    home.example: DEBUG

#Eureka Specifics
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
