#Server Specifics
spring:
  application:
    name: user
  data:
    mongodb:
      host: mongodb_host
      port: 27017
      database: test
      username: admin
      password: admin
  datasource:
    hikari:
      connection-timeout: 20000
      minimum-idle: 5
      maximum-pool-size: 12
      idle-timeout: 300000
      max-lifetime: 1200000

server:
  port: 8081

logging:
  file: logs/${spring.application.name}.log
  max-size: 10m
  level:
    root: INFO
    org.springframework.web: INFO
    home.example: DEBUG

#Eureka Specifics
eureka:
  instance:
    hostname: localhost
    port: 8080
  client:
    registerWithEureka: true
    fetchRegistry: true
#    healthcheck:
#      enabled: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${eureka.instance.port}/eureka/
